body {
    padding:1%;
}

section {
    height: 500px;
    background-color: lightgreen;
    border: solid black 1px;
}

.hero {
    height : 100vh;
    background-color: pink;
    color: rgb(105, 36, 59);
    font-size: 40px;
}

footer {
    height: 500px;
    background-color: lightblue
}

nav{
    display: flex;
    justify-content: space-between
}

ul{
    list-style-type: none;
    text-align: right;
}

li{
    text-decoration: none;
}