body {
    font-family: 'Raleway', sans-serif;
}

footer {
    height: 100px;
    background-color: rgb(238, 119, 138);
}

.footer-text{
    text-align: center;
    padding: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(238, 119, 138);
}

ul{
    list-style-type: none;
    text-align: right;
    display: flex;
    width: 500px;
    justify-content: space-around;
}

li{
    text-decoration: none;
    font-size: 24px;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
}

li:hover{
    background-color: white;
    cursor: pointer;
}

hr.rounded {
    padding-top: 0px;
    border-top: 6px solid white;
    border-radius: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

/* ----------------------------------- index page --------------------------------------*/ 
.hero {
    height : 100vh;
    background-color: rgb(238, 119, 138);
    color: rgb(81, 45, 65);
    font-size: 40px;
}

h1{
    margin: 0;
    font-size: 80px;
    font-weight: 900;
    font-style: italic;
    font-family: 'Spectral', serif ;
    color: white;
}

p{
    margin: 0;
    font-size: 40px;
    font-style: italic;
    margin-bottom: 10px;
    text-align: center;
}

.hero-area{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.hero-text{
    margin-top: 60px;
    text-align: center;
}

.ico{
    height: 50px;
    margin: 10px;
}

.logo{
    height: 80px;
    margin: 20px;
}

.about-me-text{
    margin-left: 30px;
}

.about-me-section{
    display: flex;
    justify-content: space-round;
    padding: 30px;
    background-color: white;
    color: rgb(81, 45, 65);
}

.projects-section{
    background-color:white;
    padding: 30px;
    color: rgb(81, 45, 65);
}

h2{
    font-size: 40px;
    margin: 5px;
    margin-bottom: 10px;
    font-weight:900;
    font-style: italic;
    font-family: 'Spectral', serif ;
    color: rgb(238, 119, 138);
}

.headshot{
    height: 200px;
    border-radius: 100px;
}

.project-box-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-round;
}

.project-box{
    height: 200px;
    width: 200px;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgb(136, 136, 136);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.project-image{
    size-adjust:inherit;
    border-radius: 20px;
}

.project-title{
    display: none;
}

.project-subtitle{
    display: none;
}

.project-module{
    display: none;
}

.project-box:hover .project-title{
    display: block;
    margin-top: 40px;
    font-size: 24px;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
}

.project-box:hover .project-subtitle{
    display:block;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    cursor: pointer;
    text-decoration: none;
    
}

.project-box:hover .project-module{
    display: block;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}

.project-box:hover .project-image{
    display: none;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

a:active{
    text-decoration: none;
    color: inherit;
}

/* ---------------------------- project page ------------------------------- */ 

.project-section{
    padding: 50px;
    background-color: white;
    align-items: center;
}

.hero-2 {
    height : 20vh;
    background-color: rgb(238, 119, 138);
    color: rgb(81, 45, 65);
    font-size: 40px;
}

h3{
    font-family: 'Spectral', serif ;
    font-size: 50px;
    font-weight:900;
    font-style: italic;
    color: rgb(238, 119, 138);
    text-align: center;
}

