html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
}

footer {
    height: 100px;
    background-color: rgb(238, 119, 138);
}

.footer-text{
    text-align: center;
    padding: 20px;
    color: white;
    font-weight: 600;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(238, 119, 138);
}

ul{
    list-style-type: none;
    text-align: right;
    display: flex;
    width: 700px;
    justify-content: space-around;
    margin-right:4vw;
}

.list-item{
    text-decoration: none;
    font-family: 'Spectral', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.line{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 26px;
    padding: 10px;
}

.list-item:hover{
    background-color: white;
    cursor: pointer;
}

hr.rounded {
    padding-top: 0px;
    border-top: 6px solid white;
    border-radius: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

/* ----------------------------------- index page --------------------------------------*/ 
.hero {
    height : 100vh;
    background-color: rgb(238, 119, 138);
    color: rgb(81, 45, 65);
    font-size: 40px;
}

h1{
    margin: 0;
    font-size: 80px;
    font-weight: 900;
    font-style: italic;
    font-family: 'Spectral', serif ;
    color: white;
}

p{
    margin: 0;
    font-size: 40px;
    font-style: italic;
    margin-bottom: 10px;
    text-align: center;
}

.hero-area{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.hero-text{
    margin-top: 60px;
    text-align: center;
}

.ico{
    height: 50px;
    width: 50px;
    margin: 10px;
}

.logo{
    height: 80px;
    margin: 20px;
}

.about-me-text{
    margin-left: 30px;
}

.about-me-section{
    display: flex;
    justify-content: space-round;
    padding: 30px;
    background-color: white;
    color: rgb(81, 45, 65);
}

.projects-section{
    background-color:white;
    padding: 30px;
    color: rgb(81, 45, 65);
}

h2{
    font-size: 40px;
    margin: 5px;
    margin-bottom: 10px;
    font-weight:900;
    font-style: italic;
    font-family: 'Spectral', serif ;
    color: rgb(238, 119, 138);
}

.headshot{
    height: 200px;
    border-radius: 100px;
}

.project-box-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-round;
}

.project-box{
    height: 20vw;
    width: 20vw;
    margin: 1vw;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgb(136, 136, 136);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-image{
    height: inherit;
    Width: index;
    object-fit: cover;
    border-radius: 20px;
}

.project-title{
    display: none;
}

.project-subtitle{
    display: none;
}

.project-module{
    display: none;
}

.project-box:hover .project-title{
    display: block;
    font-size: 28px;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
    color: rgb(238, 119, 138);
}

.project-box:hover .project-subtitle{
    display:block;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    cursor: pointer;
    text-decoration: none;
}

.project-box:hover .project-module{
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}

.project-box:hover .project-image{
    display: none;
}

a:link{
    text-decoration: none;
    color: inherit;
}

a:visited{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

a:active{
    text-decoration: none;
    color: inherit;
}

.contact-section{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    padding-bottom: 50px;
}

.contact-heading{
    text-align: center;
    font-size: 50px;
    display:block;
}

.icons-2{
    background-color: rgb(238, 119, 138);
    border-radius: 30px;
    width:fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.small-contact-container{
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: rgb(81, 45, 65);
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.smaller-text{
    font-size: 14px;
}

/* ---------------------------- project page ------------------------------- */ 

.project-section{
    padding: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.hero-2 {
    height : 20vh;
    background-color: rgb(238, 119, 138);
    color: rgb(81, 45, 65);
    font-size: 40px;
}

.project-heading{
    font-family: 'Spectral', serif ;
    font-size: 60px;
    font-weight:900;
    font-style: italic;
    color: rgb(238, 119, 138);
    text-align: center;
    height: 15px;
    margin-bottom: 100px;
}

.subtitle-1{
    font-family: 'Spectral', serif ;
    font-size: 30px;
    font-weight:600;
    font-style: italic;
    text-align: center;
    height: 10px;
    color: rgb(81, 45, 65);
}

.subtitle-2{ 
    padding: 0px;
    font-size: 20px;
    font-weight:500;
    text-align: center;
    height: 10px;
    color: rgb(81, 45, 65);
}

.project-intro{ 
    margin-left: 15vw;
    margin-right: 15vw;
    font-size: 16px;
    font-weight:300;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(81, 45, 65);
}

.pdf-container{
    align-self: center;
    width: 900px;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: rgb(238, 119, 138);
    border-radius: 20px;
}